.main {
  min-height: 80vh;
  margin-bottom: 20px;
  margin-top: 20px;
}

.weather-form {
  margin-bottom: 15px;
}

mat-card {
  min-width: 25%;
  min-height: 25%;

  margin: 0 auto;
  border-radius: 5px;
}
