<main class="main" fxLayout="column" fxLayoutAlign="start center">
  <mat-card class="weather-form">
    <mat-card-content>
      <app-weather-form></app-weather-form>
    </mat-card-content>
  </mat-card>

  <section *ngIf="(currentWeather$ | async) as currentWeather">
    <mat-card matRipple matRippleColor="primary">
      <mat-card-header>
        <img mat-card-avatar [src]="currentWeather.current.condition.icon" />
        <mat-card-title-group>
          <mat-card-title
            >{{ currentWeather.location.name }},
            {{ currentWeather.location.region }}</mat-card-title
          >
          <mat-card-subtitle>{{
            currentWeather.location.country
          }}</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>

      <mat-card-content>
        <mat-list>
          <mat-list-item
            >Temperature: {{ currentWeather.current.temp_c }} °C
          </mat-list-item>
          <mat-list-item>
            Feels like: {{ currentWeather.current.feelslike_c }} °C
          </mat-list-item>
          <mat-list-item
            >Wind speed: {{ currentWeather.current.wind_mph }} km/h
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </section>
</main>
