<section class="weather-form">
  <form
    [formGroup]="weatherForm"
    (ngSubmit)="getCurrentWeather(weatherForm.value)"
    fxLayout="column"
  >
    <ng-container>
      <button
        *ngIf="!watchID"
        mat-raised-button
        matTooltip="Use your devices GPS to track your location realtime."
        color="primary"
        type="button"
        matRipple
        (click)="getCoords()"
      >
        Detect location
      </button>
      <button
        *ngIf="watchID"
        type="button"
        mat-raised-button
        matRipple
        matTooltip="Disable realtime GPS tracking."
        color="primary"
        (click)="clearWatch()"
      >
        Stop Tracking
      </button>
    </ng-container>

    <div *ngIf="errorMessage" (click)="errorMessage = ''">
      {{ errorMessage }}
    </div>
  </form>
</section>

<mat-spinner *ngIf="loading"></mat-spinner>
