<section class="weather" fxLayout="column">
  <button
    mat-raised-button
    matTooltip="Use your devices GPS to detect your current location."
    color="primary"
    type="button"
    matRipple
    [disabled]="locationDetected$ | async"
    (click)="getCoords()"
  >
    {{ (locationDetected$ | async) ? "Location detected!" : "Detect location" }}
  </button>

  <div *ngIf="errorMessage" (click)="errorMessage = ''">
    {{ errorMessage }}
  </div>
</section>

<mat-spinner *ngIf="loading$ | async" mode="indeterminate"></mat-spinner>
