@import "@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-image: url("assets/clouds.jpg");
  background-repeat: none;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

html {
  font-size: 16px;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
