@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';

body {
  background-image: url('assets/clouds.jpg');
  background-repeat: none;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
